body {
font: 1em Arial;




}
.container {
   background: #999;
display: block;
max-width: 500px;
min-width: 350px;
height: 100px;

}

a {
   width: 500px; 
   background: #888;
   display:block;
   width: 500px;
   height: 100px;

}
